{{ define "main" }}
<header class="my-8">
  <h1 class="text-neutral-100 text-4xl font-bold">{{ .Title }}</h1>
</header>

{{ range sort .Pages ".Params.id" "asc" }}
<article class="container border-t-2 border-neutral-600 px-4 py-2">
  <header class="">
    <h1 class="text-xl">
      <a
        class="text-sky-500 hover:text-sky-300 hover:underline"
        href="https://github.com/edzdez/{{ .Params.title }}"
        >{{ .Title }}</a
      >
    </h1>
  </header>

  <section class="mt-2">{{ .Content }}</section>
</article>
{{ end }}
<div class="border-t-2 border-neutral-600"></div>
{{ end }}
