{{ define "main" }}
<header class="my-8">
  <h1 class="text-[#fbf1c7] text-4xl font-bold">{{ .Title }}</h1>
</header>

{{ range .Pages }}
<article class="container border-t-2 border-[#504945] px-4 py-2">
  <header class="">
    <h1 class="text-xl">
      <a
        class="text-[#458588] hover:text-[#83a598] hover:underline"
        href="{{ .Permalink }}"
        >{{ .Title }}</a
      >
    </h1>
    <span class="date text-[#a89984]"
      >{{ .Date.Format "January 2, 2006" }}</span
    >
  </header>

  <section class="mt-2">{{ .Params.description }}</section>
</article>
{{ end }}
<div class="border-t-2 border-[#504945]" />
{{ end }}
