{{ define "main" }}
<header class="my-8 flex justify-between">
  <div>
    <h1 class="text-neutral-100 text-4xl font-bold">Ethan Zhang</h1>
    <div class="my-4">
      <h2 class="text-neutral-100 mb-1 text-xl font-bold">Contact Information</h2>
      <div>
        Email:
        <a
          class="text-sky-500 hover:text-sky-300 hover:underline"
          href="mailt&#111;&#58;e&#116;&#104;a%6Ez&#52;&#64;illinois&#46;&#37;65du"
        >
          et&#104;anz&#52;(at)illin&#111;i&#115;(dot)edu
        </a>
      </div>
      <div>
        Phone:
        <a
          class="text-sky-500 hover:text-sky-300 hover:underline"
          href="tel:+16503804671"
        >
          (650) 380-4671
        </a>
      </div>
      <!--            <div>Discord: edzdez</div>-->
    </div>
    <div class="my-4">
      <h2 class="text-neutral-100 mb-1 text-xl font-bold">Links</h2>
      <ul class="list-inside list-['-_']">
        <li>
          <a
            class="text-sky-500 hover:text-sky-300 hover:underline"
            href="https://github.com/edzdez"
            >Github</a
          >
        </li>
        <li>
          <a
            class="text-sky-500 hover:text-sky-300 hover:underline"
            href="https://www.linkedin.com/in/edzdez/"
            >LinkedIn</a
          >
        </li>
      </ul>
    </div>
  </div>
  <!--    <img-->
  <!--            class="rounded-full hidden md:block lg:w-65 w-56"-->
  <!--            src="/panda.png"-->
  <!--            alt="profile icon"-->
  <!--    />-->
  <img
    class="rounded-full hidden sm:block lg:w-64 w-56"
    src="/images/me.jpg"
    alt="profile icon"
  />
</header>

<hr class="my-6 border-neutral-600" />
<article class="prose prose-invert text-justify">{{ .Content }}</article>
<hr class="my-6 border-neutral-600" />
<p>
  Design based on
  <a
    class="text-sky-500 hover:text-sky-300 hover:underline"
    href="https://www.cs.cmu.edu/~kpratt/"
    >Kevin Pratt's Website</a
  >
</p>
{{ end }}
