{{ define "main" }}
<header class="my-8 flex justify-between">
    <div>
        <h1 class="text-[#fbf1c7] text-4xl font-bold">Ethan Zhang</h1>
        <div class="my-4">
            <h2 class="text-[#fbf1c7] mb-1 text-xl font-bold">Contact Information</h2>
            <div>
                Email:
                <a
                        class="text-[#458588] hover:text-[#83a598] hover:underline"
                        href="mailt&#111;&#58;e&#116;&#104;a%6Ez&#52;&#64;illinois&#46;&#37;65du"
                >
                    et&#104;anz&#52;(at)illin&#111;i&#115;&#46;edu
                </a>
            </div>
            <!--            <div>Discord: edzdez</div>-->
        </div>
        <div class="my-4">
            <h2 class="text-[#fbf1c7] mb-1 text-xl font-bold">Links</h2>
            <ul class="list-inside list-['-_']">
                <li>
                    <a class="text-[#458588] hover:text-[#83a598] hover:underline" href="https://github.com/edzdez">Github</a>
                </li>
                <li>
                    <a class="text-[#458588] hover:text-[#83a598] hover:underline" href="https://www.linkedin.com/in/edzdez/">LinkedIn</a>
                </li>
            </ul>
        </div>
    </div>
<!--    <img-->
<!--            class="rounded-full hidden md:block lg:w-65 w-56"-->
<!--            src="/panda.png"-->
<!--            alt="profile icon"-->
<!--    />-->
        <img
                class="rounded-full hidden sm:block lg:w-64 w-56"
                src="/me.jpg"
                alt="profile icon"
        />
</header>

<hr class="my-6 border-[#504945]"/>
<article class="text-justify">
    {{ .Content }}
</article>
<hr class="my-6 border-[#504945]"/>
<p>
    Design based on
    <a class="text-[#458588] hover:text-[#83a598] hover:underline" href='https://www.cs.cmu.edu/~kpratt/'>Kevin Pratt's Website</a>
</p>
{{ end }}
